<div class='content-wrapper' ng-init="app.settings.pagetitle = 'Edit Ticket ';">
        <style>
                .iframe-container {
                  overflow: hidden;
                  padding-top: 40%;
                  padding-bottom: 60%;
                  position: relative;
                }
                
                .iframe-container iframe {
                   border: 0;
                   height: 100%;
                   left: 0;
                   position: absolute;
                   top: 0;
                   width: 100%;
                }
        
                ::-webkit-scrollbar {
        display: none;
        }
        
        
                
        </style>
        <div class='content-wrapper iframe-container' ng-init="app.settings.pagetitle = 'Screen Capture';">
                <iframe src="https://teamup.com/ksfwoao1ikqtf8r3ot" allowfullscreen></iframe>
        </div>

</div>